* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR STYLES */
.navbar {
  padding: 40px, 120px, 40px, 120px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
}
.navbar-brand img {
  width: 134px;
  height: auto;
}
.cart-badge {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 11.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  right: -5px;
  color: #fff;
}
.nav-link {
  color: #202020;
  font-weight: 500;
  font-size: 18px;
}
.navbar-light .navbar-nav .nav-link.active{
  background-color: #F8F8F8;
  border-radius: 6px;
}
/* LOGIN PAGE STYLES */
.login-welcome-text{
  font-size: 32px;
  font-weight: 500;
}
.login-credential-text{
  color: #707070;
  font-weight: 500;
  font-size: 16px;
}

/* PRODUCT CARD DESIGN */
.product-card {
  width: 100%;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h6 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}
