* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR STYLES */
.navbar {
  padding: 40px, 120px, 40px, 120px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
}
.navbar-brand img {
  width: 134px;
  height: auto;
}
.badge {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 11.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  right: -5px;
}
.nav-link {
  color: #202020;
  font-weight: 500;
  font-size: 18px;
}
/* LOGIN PAGE STYLES */
.login-welcome-text{
  font-size: 32px;
  font-weight: 500;
}
.login-credential-text{
  color: #707070;
  font-weight: 500;
  font-size: 16px;
}